
<mat-card class="example-card mat-elevation-z11" >
  <div class="Pbar"></div>
  <mat-progress-bar [style.display]="showSpinner ? 'block' : 'none'" mode="indeterminate"></mat-progress-bar>

  <mat-card-header class="header" >
    <img src="../../assets/images/logo.jpg" alt="Avatar" style="width: 100px; height: 100px; margin-left: 38%" >
  </mat-card-header>

  <mat-card-content  class="triviaContent" style="width: 100%">
    <p class="subtitle" style="margin-top: 60px"> Do you know that?</p>
    <div >
    <p style="">

      {{this.trivia}}   </p>
    </div>
  </mat-card-content >
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="getTrivias()" style="margin-left: 80%; margin-bottom: 10px; background-color: #e94e77; color: white">NEXT</button>
  </mat-card-actions>
</mat-card>
