
<mat-card class="example-card mat-elevation-z11" >
  <mat-card-header  >

    <img src="../../assets/images/logo.jpg" alt="Avatar" style="width: 100px; height: 100px; margin-left: 35%" >
  </mat-card-header>
  <mat-card-content   style="width: 100%">
    <mat-progress-bar  [style.display]="showSpinner ? 'block' : 'none'" mode="indeterminate"></mat-progress-bar>
    <div class="triviaContent">
    <p style="">

      {{this.trivia}}   </p>
    </div>
  </mat-card-content >
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="getTrivias()" style="margin-left: 80%; margin-bottom: 10px">NEXT</button>
  </mat-card-actions>
</mat-card>
